html,
body,
#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
  
.container.new {
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    background-color: #fff
}

.logged-out {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
  
  .logged-out .login-container {
    text-align: center;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 20px;
    width: 300px;
  }
  
  .logged-out .login-container h1 {
    margin-top: none;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  
  .logged-out .login-container .newUser {
    font-style: italic;
    font-size: 75%;
    color: #c0c0c0;
    text-decoration: underline;
    transition: color ease 0.3s
  }
  
  .logged-out .login-container .newUser:hover{
    color: #888;
    cursor: pointer;
  }
  
  .logged-out .login-container input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .logged-out .login-container input::placeholder {
    opacity: 50%;
  }
  
  .logged-out .login-container .create-user {
    background: #beb;
  }
  
  .logged-out .login-container .create-user.short {
    background: #ebb;
  }
  
  .logged-out .login-container button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logged-out .login-container button:hover {
    background-color: #000;
    color: #fff
  }
  
  .logged-out .error-msg {
    color: red;
    margin-top: 10px;
  }
  
  .logged-out {
    display: flex;
    min-height: 100%;
  }

  .toolbar {
    background-color: #ddd;
    width: 100%;
    height: 48px;
    padding: 4px 0px 2px 0px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  .toolbar .description {
    position: absolute;
    left: 35px;
    padding: 10px;
    /* border: 1px solid #001; */
    border-radius: 5px;
  }
  
  .toolbar .search {
    text-align: center;
  }
  
  .toolbar .search input {
    background-color: transparent;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    width: 256px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    color: black;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  }

  
  .toolbar .search input:focus{
    outline: 1px solid #333;
  }
  
  .toolbar .search input::placeholder{
    opacity: 50%;
  }
  
  .toolbar .toolbar-options {
    position: absolute;
    right: 1px;
  
  }
  
  .toolbar .toolbar-options button {
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
  }
  
  .toolbar .toolbar-options button:hover {
    background-color: #222;
    color: #fff;
    border: 1px solid black;
  }
  
  .toolbar .toolbar-options img {
    background-color: transparent;
    width: 20px;
    height: 20px
  }
  
  .toolbar .toolbar-options p {
    position: absolute;
    top: 50%;
  }

  .content {
    display: flex;
    flex: 1;
  }

  .sidebar {
    width: 30%;
    padding: 10px;
    padding-right: 50px;
    border-right: 1px solid #000;
  }

  .sidebar .nav {
    margin: 10px;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }

  .sidebar .nav:hover {
    background-color: #888;
  }

  .main-content {
    width: 100%;
    height: 100%;
    padding-left: 50px;
  }

  .feed {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #222;
  }

  .feed .rant {
    /* text-align: center; */
    border: 1px solid #999;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    max-height: 250px;
    overflow-y: auto;
    font-family: inherit;
  }

  .userProfile {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #222;
  }

  .userProfile .pastRants {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }

  .userProfile .pastRants .rant {
    border: 1px solid #999;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-height: 400px;
    overflow-y: auto;
    font-family: inherit;
  }

  .create-rant {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #222;
  }

  .create-rant button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .create-rant button:hover{
    background-color: #000;
    color: #fff
  }

  .create-rant .create-error {
    color: blue;
  }

  .create-rant textarea {
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
  }

